@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Inter:wght@400;500&display=swap');

:root{
  --fira: 'Fira Code', monospace;
  --inter: 'Inter', sans-serif;
  --blue: #0076F5;
  --text-color: #1B1A18;
  --larg-fz: 79px;
  --medium-fz: 44px;
  --normal-fz: 25px;
  --small-fz: 16px;
  --bgColor: #F5FAFF;
}

@media screen and (max-width: 400px) {
  :root{
    --medium-fz: 33px;
    --normal-fz: 19px;
    --small-fz: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--bgColor);
  color: var(--text-color);
  font-family: var(--inter);
  font-size: var(--normal-fz);
}
