@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Inter:wght@400;500&display=swap');

:root{
  --fira: 'Fira Code', monospace;
  --inter: 'Inter', sans-serif;
  --mani-blue: #0076F5;
}

* {
  font-family: var(--fira);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #e5e5e5;
}
